.header {
  background-color: #0d5c63; /* cor parecida com a da imagem */
  padding: 15px 0;
  height: 100px;
  display: flex;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  max-height: 100px;
  width: auto;
  text-decoration: none;
  white-space: nowrap;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav a:hover {
  opacity: 0.7;
}
